

body {
  background-color: #0d1117;
  color: #e6edf3;
  overflow-y: scroll;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(213 219 225);
  background: #010409;
  border-bottom: 1px solid #30363d;
}

.bottomBorder {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #30363d;
}

.header, .header_tabs  {
  padding-top: 10px;
}

.header h1 {
  font-size: 30px;
  line-height: 0;
}

.header_tabs {
  display: flex;
}

.header_link {
  padding: 0 5px;
}

.tab {
  margin: 0 5px;
  font-size: 14px;
  cursor: pointer;
  color: inherit;
  background: inherit;
  padding: 0;
  border: 0px;
}

.tab.selected {
  border-bottom: 1px solid rgb(247, 129, 102);
  font-weight: bold;
}

.tab_inner {
  padding: 10px;
}

.tab:hover .tab_inner {
  background-color: rgba(177, 186, 196, 0.12);
  border-radius: 14px;
}

.icon {
  display: flex;
  align-items: center;
}

.icon img {
  height: 20px;
  padding-right: 5px;
}

.appBody {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section {
  max-width: 1000px;
  border: 1px solid #30363d;
  border-radius: 14px;
  padding: 0 13px;
  margin: 10px 10px 50px;
}

.innerSection {
  color: #e6edf3;
  padding: 8px 0;
}

.innerSection_title {
  margin-top: 0;
}

.image {
  width: 30%;
  pointer-events: none;
  margin: 10px;
}

.mediaArea {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.videoImageFullSize {
  width: 700px;
  padding-bottom: 20px;
}

.link {
  color: rgb(47, 129, 247);
}

.linkSection {
  font-size: 16px;
}

@media only screen and (max-width: 800px) {
  .videoImageFullSize {
    width: 650px;
  }
}

@media only screen and (max-width: 700px) {
  .videoImageFullSize {
    width: 550px;
  }
}

@media only screen and (max-width: 600px) {
  .videoImageFullSize {
    width: 450px;
  }
}

@media only screen and (max-width: 500px) {
  .videoImageFullSize {
    width: 350px;
  }
}

@media only screen and (max-width: 400px) {
  .header h1 {
    font-size: 20px;
  }

  .videoImageFullSize {
    width: 250px;
  }
}

@media only screen and (max-width: 250px) {
  .header h1 {
    font-size: 16px;
  }
  
  .videoImageFullSize {
    width: 200px;
  }
}