.page {
  max-width: 1000px;
  border: 1px solid #30363d;
  border-radius: 14px;
  padding: 8px 14px;
  margin: 5px 10px 20px;
  border-top: 0px;
  border-bottom: 0;
  padding-top: 0;
}

.page h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #30363d;
}

.page_mediaArea {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gitHubLink {
  display: inline-flex;
  align-items: center;
}

.gitHubLink img {
  height: 20px;
  padding-right: 5px;
}