.tab {
  font-size: 14px;
  cursor: pointer;
  color: inherit;
  background: inherit;
  padding: 0;
  border: 0px;
}

.tab.selected {
  border-bottom: 2px solid rgb(247, 129, 102);
}

.tab_inner {
  padding: 10px;
}

.tab:first-child {
  border-radius: 10px 0 0 0;
}

.tab:last-child {
  border-radius: 0 10px 0 0;
}

.tab:hover .tab_inner {
  background-color: rgba(177, 186, 196, 0.12);
}
